<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.batch.domain.person.mapper.PersonMapper">
    <insert id="insert" parameterType="com.example.batch.domain.person.model.Person" >
        INSERT INTO PEOPLE (first_name, last_name)
        VALUES (#{firstName}, #{lastName})
    </insert>
</mapper>